@import 'colors';

.cities {
  padding: 40px 0;
}

.cities__heading {
  font-size: 3rem;
  font-weight: 300;
  margin-bottom: 40px;
}

.city-card {
  position: relative;
  width: 50%;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  background: #fff;
  color: #505050;
}

.city-card__title {
  display: flex;
  margin-bottom: 15px;
  font-weight: 300;
  font-size: 3rem;
}

.city-card__location-icon {
  color: $green;
  margin-left: 20px;
}

.city-card__accent-forecast {
  display: flex;
  align-items: center;
}

.city-card__today-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0;
  background: #fff;
  padding: 20px;
  border-radius: 5px;
  color: #000;
}

.city-card__today-img {
  width: 64px;
  margin-right: 20px;
}

.city-card__today-temp {
  font-size: 3.5rem;
}

.city-card__info-title {
  font-weight: 400;
  margin-right: 15px;
}

.city-card__info-list {
  list-style: none;
}

.city-card__close-btn {
  position: absolute;
  top: 30px;
  right: 30px;
  border: none;
  background: none;
  color: #e72d2d;
  font-size: 2rem;
  cursor: pointer;
}

.city-card__other-days {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-between;
}

.city-card__other-day {
  text-align: center;
  &:not(:last-of-type) {
    margin-right: 10px;
  }
}

.city-card__othery-day-img {
  width: 48px;
}
